<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>ChessOnRails</title>
<%= stylesheet_link_tag "board" %>
<%= javascript_include_tag :defaults %>
<% javascript_include_tag 'jquery-ui'%>
</head>
<body>
	<%= yield %>
</body>
</html>
