<!-- include supporting elements here in case not available in layout as in case of facebook -->
<%= stylesheet_link_tag "board" %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'board_action' %>

<h1>Match</h1>


<div class="instructions">
Instructions: Ideally you move by drag and drop. If that appears not to work, reload the page and try again.
If that still does not enable you to drag and drop your browser may not be compatible (sorry!). You can however
enter the from and to coordinates (d2 d4) in the boxes and then Submit Move. Or if you're a smartie pants
you can enter the Algebraic Notation ( Nbxc4 ). To castle drag king to its castling square. The move is submitted
when you drop the piece or hit enter.
</div>

<%= render :partial => 'board'%>




