<h1>Authenticate#index</h1>


<% if @player -%>
	Logged in 
<% else -%>
    You must <a href="/authentication/login">Login</a> to use this app.
<% end -%>

<p>Find me in app/views/authenticate/index.html.erb</p>
