%form(action="/match/#{match.id}/moves/create" id="new_move_form")
  .move_from
    %label Move from:
    %input(type="text" name="move[from_coord]" id="move_from_coord")
  .move_to
    %label Move to:
    %input(type="text" name="move[to_coord]" id="move_to_coord")
  .submit
    %input(type="submit" value="Submit")
