<div id="match_ender">
	<%= link_to "Resign", 'resign', :confirm => 'Are you truly ready to accept disgrace and sulk back to the rock from under which you came ?' %>
  <% if can_undo?(@match) -%>
  <%= link_to "Undo Last", undo_last_path(@match) %>
  <% end %>

</div>