<div id="match_ender">
	<%= link_to "Resign", match_resign_url( @match ), :confirm => 'Are you truly ready to accept disgrace and sulk back to the rock from under which you came ?' %>
	| 
	<%= link_to "Claim Win", match_claim_win_url( @match ) %>

</div>