<div id="match_ender">
	<%= link_to "Resign", match_url( :controller => 'match', :action => 'resign', :id => @match.id ), :confirm => 'Are you truly ready to accept disgrace and sulk back to the rock from under which you came ?' %>

</div>