.busy{
  cursor: progress !important;
}

h1 { font-size: 18pt; font-weight: bold; margin-bottom:3px; }

#move_indicator { width: 360px; float:left; }
.active_yours { background-color:black; color:white; font-weight:bold; font-size: 10pt;}
.active_theirs { background-color:eee; color:bbb; font-weight:bold; font-size: 10pt;}
#match_actions { font-size: 10pt;}

#game_tabs{ margin: 0 0 0 20px; padding: 8px; }
#tab_headers{ display:none; }

.move_creator_parent { clear: both; float: left; }
.instructions { display:none }
#move_error { color: #ff4444 }
/*#playback_controls{ float:left;}*/
#server_msg { float:left; width:376px; height:20px; padding:2px; font-size: 10pt;
              border: 1px black solid; background-color:#ddd;}

#original_board {margin-bottom: 5px;}

.board_table .last-move-from { border: 1px blue solid;}
.board_table .last-move-to   { border: 1px blue solid;}
.board_table .last-move-to-x { border: 1px red solid;}

.board_table { clear:both ;}
.board_table td{
  width:40px; height:40px;
  border: 1px solid #333; 
  margin:0px; padding: 0px;
 }

.piece_container img {cursor: hand;}


.drop-allowed { background-color: green; }
.piece-to-move { background-color: #c6f1c6;}


.label {background-color:gray; color:white; font-family:Arial; font-size:smaller; text-align:center; font-weight:bold}
.board_table .rank {width: 20px}
.board_table .file {height: 20px}

#chat_window {text-align: left; padding-left: 10px}
.chat_line{ font-family: sans-serif; font-size: smaller }
#chat_msg{ width: 150px;}

.move_list {
    float:left; 
    width:190px; height:300px; 
    border:solid 1px black; 
    overflow:auto; 
    font-family: sans-serif;
    font-size: smaller;
}
.move_w{ float:left; clear:left; width: 82px }
.move_b{ float:left; width: 82px}
.move_list_current{ background-color: #ddd;}

#playback_controls {}

#h1, #h3, #h5, #h7,
#g2, #g4, #g6, #g8,
#f1, #f3, #f5, #f7,
#e2, #e4, #e6, #e8,
#d1, #d3, #d5, #d7,
#c2, #c4, #c6, #c8,
#b1, #b3, #b5, #b7,
#a2, #a4, #a6, #a8
{background-color:#fff}

#h2, #h4, #h6, #h8,
#g1, #g3, #g5, #g7,
#f2, #f4, #f6, #f8,
#e1, #e3, #e5, #e7,
#d2, #d4, #d6, #d8,
#c1, #c3, #c5, #c7,
#b2, #b4, #b6, #b8,
#a1, #a3, #a5, #a7
{background-color:#cfcfcf}


/*
.just_moved {  background-color:afa;  }
.just_moved_w_capture {  background-color:d44;  }
*/