/* TODO should migrate inline styles to stylesheet, and css should mirror markup structure */

/* BEGIN match/show view, the big daddy */
h1 { font-size: 14pt; font-weight: bold }
body{ font-family:sans-serif; font-size:11pt; }

/* BEGIN BOARD STYLES */
#board_region{ float:left; clear:left; width:400px; /* should be 420 lol :) */ }
  #move_indicators { width:358px; }
  .move_indicator{ background-color:eee }
    .next_to_move  { background-color:black; color:white; font-weight:bold}
    #move_indicator_yours{ float:left; }
    #move_indicator_theirs{ float:right;}

  #js_updatable_board{ float:left; clear:left; }
  #board_table td{
    width:40px; height:40px;
    border-width: 1px; border-style:solid; border-color:#333;
    margin:0px; padding: 0px;
   }
  .label {background-color:gray; color:white; font-family:Arial; text-align:center; font-weight:bold}
  #board_table .rank {width: 20px}
  #board_table .file {height: 20px}

  #a2, #a4, #a6, #a8, #b1, #b3, #b5, #b7,
  #c2, #c4, #c6, #c8, #d1, #d3, #d5, #d7,
  #e2, #e4, #e6, #e8, #f1, #f3, #f5, #f7,
  #g2, #g4, #g6, #g8, #h1, #h3, #h5, #h7 {background-color:#fff}

  #a1, #a3, #a5, #a7, #b2, #b4, #b6, #b8,
  #c1, #c3, #c5, #c7, #d2, #d4, #d6, #d8,
  #e1, #e3, #e5, #e7, #f2, #f4, #f6, #f8,
  #g1, #g3, #g5, #g7, #h2, #h4, #h6, #h8 {background-color:#dfdfdf}

/* BEGIN ACTIONS AND NON-BOARD FORM ELEMENT STYLES */

#actions_region { width: 600px; float:left;}

  #move_creator_parent { clear:left; font-size:10pt; }
    #move_error { color: #ff4444 }

  #gameplay_editor{margin-top:18px;}
  #game_actions{margin-top:18px;}

  .status_tab{ float:left; width:200px; height:220px;  }
  #move_list {
    border:solid 1px black; 
    overflow:auto; 
    font-size: 10pt;
  }
  .move_w{ float:left; clear:left; width: 85px }
  .move_b{ float:left; width: 85px}
  .move_list_item{ } 
  .move_list_most_recent{ border: solid 1px black; }
  .move_list_currently_displayed{ background-color: #ddd }

  #chat_container{ float:left; }
  #chat_form{ float:left; }
  
  #chat {text-align: left; padding-left: 10px; overflow:auto; border:solid 1px black; height: 220px; width: 180px;}
   .chat_line{ font-family: sans-serif; font-size: smaller }
   #chat_text{ width: 150px; font-size:smaller }
   #chat_submit{ width: 40px; font-size: 10px; }

  #graveyard {float:left; border:solid 1px black; height: 220px; width: 120px;}
    .piece_sm{ width: 25px; height: 25px; }

  .instructions { display:none }

/* BEGIN OTHER, LESS CRITICAL PAGES */
/* Match#index */
.actions .nav{ margin-left: 20px }

/* Match#new */
#start_pos {width:300px;}

div.auto_complete {
  width: 350px;
  background: #fff;
}

div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
}

div.auto_complete ul li.selected {
  background-color: #ffb;
}

div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}