/*
.label {background-color:gray; color:white; font-family:Arial; font-size:smaller}
body {font-family: Arial; font-size: 10pt;}
.instructions { font-size: 10pt; width:600px;}
#new_move_form { font-size: 10pt; }
#match_ender { font-size: 10pt; }
#move_indicator { font-family: Times New Roman, serif; font-size: 12pt; }
#board_table { border-width: 1px; border-style:solid; border-color:black; }

#board_table .rank {width:20px; }
#board_table .file {height:20px;}

.piece {font-weight:bold;}

#board_table td{
  width:45px; height:45px;
  border-width: 1px; border-style:solid; border-color:black;
  margin:0px; padding: 0px;
 }

.ml { height: 20px; }
.hoverActive { background-color: #00ff00; }
*/

/* TODO should migrate inline styles to stylesheet, and css should mirror markup structure */

h1 { font-size: 14pt; font-weight: bold }
.board_table td{
  width:40px; height:40px;
  border-width: 1px; border-style:solid; border-color:#333;
  margin:0px; padding: 0px;
 }


#peripheral_to_board{ margin: 0 0 0 20px; padding: 8px; position:relative; left: 12px; }
.move_creator_parent { clear: all; float: left; }
.instructions { display:none }
#move_error { color: #ff4444 }

.label {background-color:gray; color:white; font-family:Arial; font-size:smaller; text-align:center; font-weight:bold}
.board_table .rank {width: 20px}
.board_table .file {height: 20px}

#chat {text-align: left; padding-left: 10px; overflow:auto; border:solid 1px black; height: 220px; width: 180px;}
.chat_line{ font-family: sans-serif; font-size: smaller }

.move_list {
    float:left; 
    width:190px; height:220px; 
    border:solid 1px black; 
    overflow:auto; 
    font-family: sans-serif;
    font-size: smaller;
}
.move_w{ float:left; clear:left; width: 85px }
.move_b{ float:left; width: 85px}

#a2, #a4, #a6, #a8,
#b1, #b3, #b5, #b7,
#c2, #c4, #c6, #c8,
#d1, #d3, #d5, #d7,
#e2, #e4, #e6, #e8,
#f1, #f3, #f5, #f7,
#g2, #g4, #g6, #g8,
#h1, #h3, #h5, #h7
{background-color:#fff}

#a1, #a3, #a5, #a7,
#b2, #b4, #b6, #b8,
#c1, #c3, #c5, #c7,
#d2, #d4, #d6, #d8,
#e1, #e3, #e5, #e7,
#f2, #f4, #f6, #f8,
#g1, #g3, #g5, #g7,
#h2, #h4, #h6, #h8
{background-color:#dfdfdf}

.active_yours {background-color:black; color:white; font-weight:bold}
.active_theirs {background-color:eee; color:bbb; font-weight:bold}


/*
.just_moved {  background-color:afa;  }
.just_moved_w_capture {  background-color:d44;  }
*/