<!-- this is a test file for code statistics calculation. This line should count towards a comment total. -->
This line adds a simple erb output sequence: <%= 'here' %>.
This line adds two erb outputters, <%= 'each' %> <%= 'counting' %> toward the erb line total
Below begins a non-output erb structure, each of whose lines counts toward the total:
<% 1..3.each do |num| %>
*
<% end %>
For a longer ERB block, the first and last lines count if non-empty, and every line between counts if non-empty
and not a hash-style comment
<% local_var = 3
   #other_var = 4
   woo = 5
   1..local_var.each do |num |  
%>
*
<% end %>