<ul>
  <% chats.each do |chat| %>
  <li><b title="<%= chat.created_at.strftime("%a %H:%M") %>"><%= chat.player.name %>: </b><%= chat.text %></li>
  <% end %>
</ul>
<script language="javascript">
var objDiv = document.getElementById("chat");
objDiv.scrollTop = objDiv.scrollHeight;
</script>
