Register for En Passant !

<% form_for(:user) do |f| %>

  <div>Email: <%= f.text_field :email %></div>
  <div>Password: <%= f.password_field :security_phrase %></div>

  <div>Player Name:<input type="text" name="player[name]" /></div>

  <%= submit_tag "Sign Up" %>
	
<% end %>
