<div id="match_ender">
  <%= link_to "Resign", 'resign', 
	:confirm => 'Are you truly ready to accept disgrace and sulk back to the rock from under which you came ?' %>

  <%= link_to "PGN", 'show.pgn' %>
</div>
