<script>

// clears out the contents of each square on the board, and inserts anew from JSON
function set_board(move){
  $$('td.piece_container').each( 
     function( elem ){ 
       try{
         //LEFTOFF: pass the allowed moves
         elem.update( markup_piece( elem.id, all_boards[move][elem.id], null ) );
       }
       catch(ex){
         alert(ex);
       }
     }
  );

  // alert('TODO - restore board from JSON. Refresh page to continue.');
 
}


</script>

<div class="move_list">
<% match.moves.each_with_index do |m, i| -%>
  <%if (i%2)==0 %>
    <span onclick="set_board(<%= i %>)">
      <%= ( ((i+2)/2).to_s + ". " + m.notation ).ljust(10) -%>
    </span>
  <%else%>
    <span onclick="set_board(<%= i %>)">
      <%= "#{m.notation}\n" -%>
    </span>
    <br/>
  <% end %>
<% end %>
</div>
