<div id="move_indicator">
<span class="<%= your_turn  ? "active_yours"  : "" -%>"><%= your_turn ? "<b>Yours</b>" : "Yours" %></span> 
|
<span class="<%= !your_turn ? "active_theirs" : "" -%>"><%= your_turn ? "Theirs" : "<b>Theirs</b>" %></span>
</div>
