<h1>Start a match !</h1>

<%= form_for(:match, :url => create_match_path ) do |f| %>
	<div>
		<label>Opponent (type name):
		<input type="text" id="opponent_name" name="opponent_name" />
		</label>
		<script>
		$('#opponent_name').autocomplete({
		  source: '<%= match_players_path %>'
		});

		</script>
	</div>

	<div>
		<label>
		  <input type="radio" value="black" name="opponent_side"/>
		  I play white
		</label><br/>
		<label>
		  <input type="radio" value="white" name="opponent_side"/>
		  I play black
		</label>
	</div>

	<div>
	<%= submit_tag "Start" %>
	</div>
  
  <h2>Advanced Settings</h2>
	<div id='advanced'>
		<ul>
			<li><label><input type='radio' onclick="$('#start_pos').text('1NBQKBNR/PPPPPPPP/8/8/8/8/pppppppp/rnbqkbnr')">White at rook odds (queenside)</label></li>
			<li><label><input type='radio' onclick="$('#start_pos').text('R1BQKBNR/PPPPPPPP/8/8/8/8/pppppppp/rnbqkbnr')">White at knight odds (queenside)</label></li>
		</ul>
	Starting Position (FEN):<br/>
	<textarea height="5" width="70" id="start_pos" style="width:400px; color:grey" name="start_pos" title="A PGN or FEN formatted game specification"></textarea>
	</div>
<% end %>
