- matches = current_player.matches.uniq
%h2= t("views.matches.index.greeting", :name => current_player.name)
- sections.each do |title, filter_proc| 
  %h= t title
  %ul
    - matches.select(&filter_proc).each do |m|
      %li= link_to m.name, m
.actions 
  Actions
  .nav= link_to t("views.matches.index.new_match"), new_match_path
