<h2>New match !</h2>
<% form_for(:match, :url => matches_path ) do |f| %>
<div>
Opponent:  <%= collection_select :match, :player2_id, @opponents, :id, :login %>

<!-- 
  I play:   <%= select_tag 'current_player_plays_black', options_for_select( [['white',''],['black',1]] )  %>
-->

</div>
<%= submit_tag "Start" %>
	
<% end %>