%h1
  = match.name

#board_region
  .board
    = render :partial => 'board'

#actions_region
  %ul
    %li 
      %a(href='#move_creator_parent') Play
    %li
      %a(href='#move_list_parent') History
  #move_creator_parent
    = render :partial => 'move_maker'
  #move_list_parent
    = render :partial => 'move_list'

:javascript
  $('.piece').draggable( {revert:'invalid', grid:[44,44]});
  $('#actions_region').tabs();

  $('#d7').droppable( {accept:'.d7'} );
