<!-- Physical layout of chess board -->
<table>
	<% @ranks.each_byte do |rank| -%>
		<tr>
		<% @files.each_byte do |file| -%>
			<td class="<%= file.chr + rank.chr %>" id="<%= file.chr + rank.chr %>">&nbsp;</td>	
		<% end %>
		</tr>
	<% end %>
</table>
