<h3>Welcome to En Passant !</h3>


You are: <%= @userF %> <%= fb_profile_pic(@userF) %>
<br/>

Your chess nickname will be: <%= @current_player.name %> (You will be able to change this later)<br/>

<h3><%= link_to 'Go to my Chess games', '../match/'  %></h3>


