<%
  #local variables accepted
  viewed_by ||= side_of(@match, current_player)
  board     ||= {}
%>

<table class="board">
  <% positions_by_row_as( viewed_by ) do | row | -%>
  <tr class="row">
    <td class="rank">
      <%= row[0][1,1]  %>
    </td>
    <% row.each do |position| -%>
      <% content_tag( 'td', :id => position, :class => ['square', position, square_color(position)].join(' ') ) do -%>
      
         <% if piece=board[position] -%>
           <%= render :partial =>'piece', :locals=>{ :position => position, :board => board, :piece => piece } -%>
         <% else -%>
           &nbsp;
         <% end -%>
                  
      <% end %>

    <% end -%>
  </tr>
  <% end -%>
  <tr class="files">
    <td>&nbsp;</td>
    <% files_as( viewed_by ) do |file|-%>
    <td class="file">
      <%= file%>
    </td>
    <% end -%>
  </tr>
</table>