
The preview of your move with a form to actually submit it.

<% form_for :move do |f| %>
    <%= f.text_field :from_coord %>
    <%= f.text_field :to_coord %>
    <%= submit_tag "Do it!" %>
<% end %>
<p>Find me in views/move/create.html.erb</p>
