<?xml version="1.0" encoding="UTF-8"?>
<html>
  <head>
    <link href="/stylesheets/wml.css" media="screen" rel="stylesheet"
type="text/css" />
    <style>
       .board_table{ border: 1px solid black; }
       .board_table td{ border: 1px solid black; }
       .label{ background-color: #ccc; font-size: 8pt; text-align:center; width:12px; height: 12px; }
    </style>

 </head>
  <body>
    <%= yield %>
  </body>
</html>